.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titulo {
  text-align: center;         /* Centrado */
  margin-bottom: 20px;        /* Espacio debajo */
  color: #6a0dad;             /* Morado principal */
  font-weight: bold;          /* Texto en negrita */
  font-size: 28px;            /* Tamaño un poco más grande */
}

.card {
  background-color: #ffffff;  /* Fondo blanco */
  padding: 20px;
  border-radius: 12px;        /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra ligera */
  margin: 20px auto;          /* Centrar la card */
  max-width: 1200px;          /* No muy ancha */
}
